<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    </head>
<body>
<div class="leaderboard-container">
<h2 class="leaderboard-title">Leaderboard 🏆</h2>

<table class="leaderboard-table" border="1" cellpadding="10">
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
    </tr>

    {% for r in data %}
    <tr>
        <td>{{ r.rank }}</td>
        <td>{{ r.name }}</td>
        <td>{{ r.score }}</td>
    </tr>
    {% endfor %}
</table>

<br>

<a href="/admin_dashboard">
    <button class="back-btn" >Back</button>
</a>
</div>
</body>
</html>